@charset "utf-8";

input.nome{
    width: 225px;
}

textarea{
    resize: none;
    width: 200px;
    height: 200px;
    background-color: #ffffff85;
}

p{
    text-align: center;
}
fieldset{
    width: 500px;
    border-radius: 10px;
    background-image: url(../_media/personagem-tamanho-certo/personagemvitiligo.svg);
    background-size: 350px;
    background-position: center ;
    background-repeat: no-repeat;
    opacity: 1;
}
form{
    margin-left: 30vh;
    
    
    background-position: 30px 70px;
    overflow: hidden;
    background-size: 70%;
    
}
input.ok{
	margin-left: 225px;
}
input.enviar{
	margin-right: 150px;
}
ul.submenu{
    left: 541px;;
}
button.reg{
    float: right;
    border: 2px solid #000000;
    border-radius: 4vh; 
    padding: 2vh;
    font-size: 2vh;
    margin-top: -50vh;
    
}
input, select{
    background-color: #ffffff6e;
    color: #000000;
}
.ok, .enviar{
    background-color: white;
}
div#img{
    
}