@charset "utf-8";

@font-face{
    font-family: "Montserrat";
    src: url(../_fonts/Montserrat-Regular.ttf);
}
body{
    font-family: sans-serif;
}
nav#menu{
    background-image: url(../_layout/nav.svg)   ;
    /*background-color: blue;*/
    position: fixed;
    width: 100%;
    height: 190px;
    margin-top: -8px;
    margin-left: -7px;
    transform: scale(1.012);
}
ul.menuul li{
    list-style: none;
    flex: 1;
    height: 27px;
    
    /*padding-left: 20px;*/
}
div#interface{
    padding-top: 130px;
    font-family: Montserrat;
}
ul.menuul{
    /*display: flex;
    margin-top: -50px;
    margin-left: -8px;*/
    
    /*height: 27px;*/
    text-align: center;
    padding-right: 50px;
}
ul.menuul li{
    display: inline;
    padding-left: 20px;
    
}
ul.submenu li{
    display: grid;
    
}
button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 15pt;
}