@charset "utf-8";

@font-face{
    font-family: 'Fonte Logo';
    src: url();
}
div.tdv{
    margin: 20px;
    text-align: justify;
    text-indent: 20px;
}
b{
    font-weight: 700;   
}
span.par{
    padding-left: 20px;
}

h2, h3, h4{
    font-family: "Nexa_Bold";
    
}